.tile {
    box-sizing: border-box;
    float: left;
    position: relative;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.figure {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*background: radial-gradient(circle at 33% 33%, #5cabff, #000);*/
}
/* .not-visited .layer {
    background-color: rgba(0, 0, 0, 0.5);
} */